.sign-up-container{
    display: flex;
    flex-direction: column;
    width: 380px;
    font-family: 'Bigelow Rules', cursive;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

h2{
   margin: 10px 0;
   font-size: 27px;
}