.authentication-container{
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin: 30px auto;
    font-family: 'Bigelow Rules', cursive;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}